fastapi
uvicorn
celery
redis
pgvector
unstructured[all]
paddlepaddle-gpu
pypdf
spacy
scikit-learn
sentence-transformers
python-dotenv
pymupdf
ragas
trulens
great-expectations
psycopg2-binary
boto3
python-docx
clamav
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp==1.21.0